NEXT_PUBLIC_SANITY_PROJECT_ID=npcnh1bo
NEXT_PUBLIC_SANITY_DATASET=production
# Optional: set to false to bypass CDN (fresher reads)
# NEXT_PUBLIC_SANITY_USE_CDN=false
# Optional read token (needed only for private datasets / drafts)
# SANITY_API_TOKEN=
